<template>
  <!--Since Nuxt 3 uses <Suspense> inside <NuxtPage>, it cannot be set as a root element. -->
  <div class="app">
    <NuxtLayout> <NuxtPage /> </NuxtLayout>
  </div>
</template>

<style lang="scss" scoped>
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
</style>
