<template>
  <header class="header">
      <NuxtLink to="/" class="header__brand"
        ><img src="../assets/logo.svg" alt="Entertainment app" class="header__brand-icon"
      /></NuxtLink>
    <MainNavBar />
    <div class="header__user">
      <img src="../assets/image-avatar.png" alt="User" class="header__avatar"/>
    </div>
  </header>
</template>

<style lang="scss" scoped>
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 18px;
  &__brand {
    //overwrite router-link-exact-active style
    background: none;
  }
  &__brand-icon {
    width: 25px;
  }
  &__avatar {
    width: 24px;
  }
}

@media only screen and (min-width: $md-device) {
  .header {
    background-color: var(--fem-color-background-secondary);
    border-radius: 10px;
    height: calc(100vh - 2 * 32px);
    &__brand-icon {
      width: 32px;
    }
    &__avatar {
      width: 32px;
    }
  }
}
@media only screen and (min-width: $lg-device) {
  .header {
    flex-direction: column;
    &__brand-icon {
      width: 32px;
    }
    &__avatar {
      width: 40px;
    }
  }
}
</style>
