<template>
  <nav class="nav" aria-label="Main page navigation">
    <ul class="nav__list">
      <li class="nav__list-item">
        <NuxtLink to="/" class="nav__link nav__icon nav__icon--home" />
      </li>
      <li class="nav__list-item">
        <NuxtLink href="/movies" class="nav__link nav__icon nav__icon--movies" />
      </li>
      <li class="nav__list-item">
        <NuxtLink href="/tv-series" class="nav__link nav__icon nav__icon--tv-series" />
      </li>
      <li class="nav__list-item">
        <NuxtLink href="bookmarked" class="nav__link nav__icon nav__icon--bookmark" />
      </li>
    </ul>
  </nav>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss"></style>
