<template>
    <div class="search">
      <img src="@/assets/icon-search.svg" alt="Search" class="search__icon" @click.prevent="search"/>
      <input type="text" class="input search__input" :placeholder="placeholder" v-model="text" @keyup="search" aria-labelledby="Search"/>
    </div>
  </template>

<script setup lang="ts">
import { ref } from 'vue'

defineProps({
  placeholder: { type: String, required: true, default: '' }
})

const text = ref('')
const search = () => {  
  emit('updateFilter', text.value)
}

const emit = defineEmits<{(e: 'updateFilter', value: string): void}>()

</script>

<style scoped lang="scss">

.search {
  align-items: center;
  display: flex;
  margin-bottom: 24px;
  position: relative;
  &__input {    
    padding: 10px;    
    @media only screen and (min-width: $md-device) {    
      font-size: 24px;
    }
  }
  &__icon {
    height: 24px;
    margin-right: 6px;
  }
  &--icon:hover {
    cursor: pointer;
  }
}

</style>
