<template>
  <section class="shows">
    <h1 class="heading heading--xs">{{ searchMessage }}</h1>
    <ShowsGrid :shows="filteredShows" :filter="filter" title="Recommended for you"></ShowsGrid>
  </section>
</template>

<script setup lang="ts">
import { useSearch } from '~~/composables/search'
import { Show } from '~~/model/show'
interface Props {
    title?: string;
    shows?: Show[];
    filter?: string;
    wrap?: boolean;
}

const props = withDefaults(defineProps<Props>(), {
  title: '',
  shows: () => [],
  filter: '',
  wrap: true
});

const { filter } = toRefs(props)
const { searchMessage, filteredShows } = useSearch(filter, props.shows, props.title)
</script>

<style scoped lang="scss">

</style>
