<template>
  <!-- +falta cambiar el nav para tablet y desktop
    +falta nav, icono activo hecho con vue-router styles a.router-link-exact-active
  falta login y signup
falta revisar espaciospara tablet y desktop
+falta resultados de búsqueda para index
tamaña icono log 25x20px
+falta hover, interactions
falta validar logueado/guarda/middleware-->
  <article class="show">
    <picture class="show__pic">
      <source
        media="(min-width: 1440px)"
        :srcset="show.thumbnail.regular.large"
      />
      <source
        media="(min-width: 768px)"
        :srcset="show.thumbnail.regular.medium"
      />
      <img
        :src="show.thumbnail.regular.small"
        :alt="show.title"
        class="show__img"
      />
        <div class="show__play">
          <img
            src="@/assets/icon-play.svg"
            alt="Play"
            aria-roledescription="button"
            class="show__play-icon"
          />
          Play
        </div>
    </picture>

    <button type="button" @click.prevent="bookmark" class="show__bookmark">
      <span
        class="show__bookmark-icon"
        :class="
          isBookmarked
            ? 'show__bookmark-icon--active'
            : 'show__bookmark-icon--idle'
        "
      />
    </button>
    <div class="show__content">
      <div class="show__data">
        <span class="show__year">{{ show.year }}</span>
        <span class="dot" aria-hidden="true"></span>
        <span class="show__category"
          ><img
            :src="`/assets/icon-category-${show.category === 'Movie'? 'movie' : 'tv'}.svg`"
            :alt="show.category"
            aria-hidden="true"
            class="show__category-icon"
          />
          <span>{{ show.category }}</span>
        </span>
        <span class="dot" aria-hidden="true"></span>
        <span class="show__rating">{{ show.rating }}</span>
      </div>
      <h3 class="heading__show show__title">{{ show.title }}</h3>
    </div>
  </article>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { Show } from '~~/model/show'

const props = defineProps({
  show: { type: Show, required: true }
})
const isBookmarked = ref(props.show.isBookmarked)

const bookmark = () => {
  const { error } = useFetch('/api/bookmark', {
    method: 'post',
    body: { title: props.show.title, isBookmarked: !isBookmarked.value }
  })

  if (error.value) {
    console.error(error.value)
  } else {
    isBookmarked.value = !isBookmarked.value
  }
}
</script>

<style scoped lang="scss">
@mixin svg-icon() {
  background-color: var(--fem-color-text-primary);
  width: 12px;
  height: 14px;
  display: inline-block;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}
.show {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8px;
  &__bookmark {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: var(--fem-color-background-bookmark);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: none;
    z-index: 1;
    &:hover {
      background-color: var(--fem-color-button-background-hover);
    }
    &:hover &-icon {
      background-color: var(--fem-color-background-bookmark);
      -webkit-mask-image: url(@/assets/icon-bookmark-empty.svg);
      mask-image: url(@/assets/icon-bookmark-empty.svg);
    }
  }
  &__bookmark-icon {
    @include svg-icon();
    vertical-align: middle;
    &--idle {
      -webkit-mask-image: url(@/assets/icon-bookmark-empty.svg);
      mask-image: url(@/assets/icon-bookmark-empty.svg);
    }
    &--active {
      -webkit-mask-image: url(@/assets/icon-bookmark-full.svg);
      mask-image: url(@/assets/icon-bookmark-full.svg);
    }
  }
  &__img {
    border-radius: 8px;
    width: 100%;
  }
  &__pic {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__play {
    align-items: center;
    background: var(--fem-color-background-overlay);
    border-radius: 28.5px;
    color: var(--fem-color-text-primary);
    display: none;
    font-size: 1.3em;
    gap: 20px;
    justify-content: center;
    mix-blend-mode: normal;
    width: 40%;
    position: absolute;
    transition: 2s;
    cursor: pointer;
  }
  &__play-icon {
    padding: 9px;
  }
  &__img:hover {
    filter: blur(3px);
  }
  &__img:hover + &__play {
    display: flex;
  }
  &__data {
    color: var(--fem-color-text-tertiary);
    font-weight: 300;
    font-size: 0.74em;
    line-height: 0.94em;
    align-items: center;
    display: flex;
    gap: 6px;
    margin-bottom: 4px;
  }
  &__category {
    align-items: center;
    display: flex;
    gap: 4px;
  }
}

.dot {
  height: 3px;
  width: 3px;
  background-color: var(--fem-color-text-secondary);
  border-radius: 50%;
  display: inline-block;
}

.shows-nowrap .show {
  > * {
    grid-area: 1/-1;
  }
  &__content {
    align-self: flex-end;
    padding: 16px;
  }
  &__img {
    width: 240px;
  }
}

@media only screen and (min-width: $md-device) {
  .show {
    position: relative;
    &__bookmark {
      top: 16px;
      right: 16px;
    }
  }
  .shows-nowrap .show {
    &__content {
      padding: 24px;
    }
    &__img {
      width: 470px;
    }
  }
}
</style>
