<template>
  <section :class="wrap? 'shows-grid':'shows-nowrap'">
    <template v-for="show in shows" :key="show.title">
      <ShowCard :show="show" class="shows__card"></ShowCard>
    </template>
  </section>
</template>

<script setup lang="ts">
import { Show } from '~~/model/show'
interface Props {
    shows?: Show[];
    filter?: string;
    wrap?: boolean;
}

withDefaults(defineProps<Props>(), {
  title: '',
  shows: () => [],
  filter: '',
  wrap: true
});

</script>

<style scoped lang="scss">
.shows-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 24px;

  @media only screen and (min-width: $md-device) {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  @media only screen and (min-width: $lg-device) {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}

.shows-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  margin-bottom: 24px;
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: clip;
  height: fit-content;
  @media only screen and (min-width: $md-device) {
    gap: 40px;
  }

}
</style>
