:root {
  --fem-color-background-primary: #10141E; /* dark blue*/
  --fem-color-background-secondary: #161D2F;  /* Semi Dark Blue */
  --fem-color-background-bookmark: rgba(16, 20, 30, 0.5); /* dark blue 50%*/
  --fem-color-button-background-primary: #FC4747; /* Red */
  --fem-color-link-active: #FC4747; /* Red */
  --fem-color-text-error: #FC4747; /* Red */
  --fem-color-border-error: #FC4747; /* Red */  
  --fem-color-border: #5A698F; /*grayish blue*/
  --fem-color-inactive-icon: #5A698F; /*grayish blue*/  
  --fem-color-title: #FFFFFF; /* White */
  --fem-color-text-primary: #FFFFFF; /* White */
  --fem-color-nav-link-active: #FFFFFF; /* White */
  --fem-color-text-secondary: rgba(255, 255, 255, 0.5); /* White 50% */
  --fem-color-text-tertiary: rgba(255, 255, 255, 0.75); /* White 75% */
  --fem-color-background-overlay: rgba(255, 255, 255, 0.25); /* White 50% */
  --fem-color-button-background-hover: #FFFFFF; /* White */
  --fem-color-button-hover: #161D2F;  /* Semi Dark Blue */
}