@use "tokens.css";
@use "colors.css";
@use "resets";
@use "texts";

// The following uses would become in module imports
@use "components/buttons";
@use "components/links";
@use "components/nav";
@use "components/forms";

body {
  background-color: var(--fem-color-background-primary);
  color: var(--fem-color-text-primary);
  font-family: var(--fem-text-font-family);
  font-size: var(--text-default-font-size);
  line-height: 19px;
  height: 100vh;
}
  