.heading {
  color: var(--fem-color-title);
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  &--l {
    letter-spacing: -0.5px;    
  }
  &--m {
    font-size: 24px;
    line-height: 30px;
  }
  &--s {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
  }
  &--xs {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 16px;
  }
  &--show {
    font-weight: 500;
    font-size: 0.94em;
    line-height: 1.2em;
  }
}
