:root {
  --sm-device: 375px;
  --md-device: 768px;
  --lg-device: 1440px;

  /*Text Font size should be not-relative*/
  --text-default-font-size: 15px;
  --fem-text-font-family: 'Outfit', sans-serif;
}
