.button {
  &__primary {
    padding: 1.5rem 3rem;
    background-color: var(--fem-color-button-background-primary);
    color: var(--fem-color-text-primary);
    border-radius: 6px;
    font-family: inherit;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;

    &:is(:hover, :focus) {
      background-color: var(--fem-color-button-background-hover);
      background-color: var(--fem-color-button-hover);
    }
  }
}