@import "../tokens.scss";

@mixin input() {
  border: none;
  color: var(--fem-color-text-secondary);
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  width: 100%;

  &:focus,
  &:valid {
    color: var(--fem-color-text-primary);
  }
}

.input {
  @include input;
}

.sign-up {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto 24px;

  &--icon {
    margin-bottom: 60px;
  }

  &--title {
    margin-bottom: 40px;
  }

  &--card {
    background-color: var(--fem-color-background-secondary);
    border-radius: 10px;
    padding: 24px 24px 32px 24px;
  }

  &__button {
    background-color: var(--fem-color-button-background-primary);
    border-radius: 6px;
    color: var(--fem-color-text-primary);
    font-family: inherit;
    font-size: 15px;
    font-weight: 300;
    line-height: 19px;
    margin-bottom: 24px;
    margin-top: 40px;
    padding: 15px;
    width: 100%;

    &:hover,
    &:focus {
      background-color: var(--fem-color-button-background-hover);
      color: var(--fem-color-button-hover);
    }
  }
}

.form {
  &__group {
    margin-bottom: 24px;
    position: relative;
  }
  &__msg {
    color: var(--fem-color-text-error);
    font-weight: 300;
  }
  &__input {
    @include input;
    border-bottom: 1px solid var(--fem-color-border);
    padding: 17px;
    width: 100%;

    &--invalid {
      border-bottom: 1px solid var(--fem-color-text-error);
    }
  }
  &__err-msg {
    background-color: var(--fem-color-background-secondary);
    color: var(--fem-color-text-error);
    display: none;
    font-weight: 300;
    position: absolute;
    right: 17px;
    top: 17px;
  }

  &__input--invalid:not(:focus)+&__err-msg {
    display: inline-block;
  }
}

@media only screen and (min-width: $md-device) {
  .sign-up {
    &--icon {
      margin-bottom: 72px;
    }

    &--card {
      max-width: 184px;
      padding: 32px;
    }
  }
}

@media only screen and (min-width: $md-device) {
  .sign-up {
    &--icon {
      margin-bottom: 82px;
    }

    &--card {
      max-width: 400px;
    }
  }
}