.link {    
  color: var(--fem-color-link-active);
 // box-shadow: inset 0 0 0 2px var(--fem-color-link-active);

  &:focus {
    box-shadow: inset 0 0 0 2px var(--fem-color-border-link-primary-focus);
  }

  &:is(:hover, :focus) {
    color: var(--fem-color-text-link-primary-active);
  }
}