@import "../tokens.scss";

@mixin svg-icon() {
  background-color: var(--fem-color-inactive-icon);
  width: 16px;
  height: 16px;
  display: inline-block;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;

  &:hover {
    background-color: var(--fem-color-link-active);
  }

  &:active, .active {
    background-color: var(--fem-color-nav-link-active);
  }

  @media only screen and (min-width: $md-device) {
    width: 20px;
    height: 20px;
  }
}

a.router-link-exact-active {
  background-color: var(--fem-color-nav-link-active);
}

.nav {
  &__list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  &__icon {
    @include svg-icon();

    &--home {
      -webkit-mask-image: url(~~/assets/icon-nav-home.svg);
      mask-image: url(~~/assets/icon-nav-home.svg);
    }

    &--movies {
      -webkit-mask-image: url(~~/assets/icon-nav-movies.svg);
      mask-image: url(~~/assets/icon-nav-movies.svg);
    }

    &--tv-series {
      -webkit-mask-image: url(~~/assets/icon-nav-tv-series.svg);
      mask-image: url(~~/assets/icon-nav-tv-series.svg);
    }

    &--bookmark {
      -webkit-mask-image: url(~~/assets/icon-nav-bookmark.svg);
      mask-image: url(~~/assets/icon-nav-bookmark.svg);
    }
  }
}

@media only screen and (min-width: $md-device) {
  .nav {
    &__list {
      flex-direction: column;
    }
  }
}