<template>
  <div class="app">
    <AppHeader />
    <main class="main">
      <slot />
    </main>
  </div>
</template>

<style scoped lang="scss">
.app {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
  margin: 16px;
  @media only screen and (min-width: $md-device) {
    margin: 24px;
    gap: 24px;
  }
  @media only screen and (min-width: $lg-device) {
    grid-template-columns: 96px minmax(200px, 1fr);
    margin: 32px;
    gap: 32px;
  }
}
</style>
