<template>
  <section class="bookmarked">
    <search-component
      @update-filter="search"
      placeholder="Search for bookmarked shows"
    ></search-component>

    <ShowsSection
      :shows="bookmarkedMovies"
      :filter="filter"
      title="Bookmarked Movies"
    ></ShowsSection>

    <ShowsSection
      :shows="bookmarkedTv"
      :filter="filter"
      title="Bookmarked TV Series"
    ></ShowsSection>
  </section>
</template>

<script setup lang="ts">
import { toShows } from '~~/mapper/to-show';

definePageMeta({ middleware: ['auth'] });

const { data: tvSeries } = await useFetch('/api/tv-series');
const bookmarkedTv = toShows(tvSeries?.value).filter((m) => m.isBookmarked);
const { data: movies } = await useFetch('/api/movies');
const bookmarkedMovies = toShows(movies?.value).filter((m) => m.isBookmarked);
const filter = ref('');

const search = (text: string): void => {
  filter.value = text;
};
</script>

<style scoped lang="scss"></style>
