<template>
  <section class="media">
    <search-component @update-filter="search"
      placeholder="Search for movies or TV series"
    ></search-component>
    <section class="trending" v-show="!filter">
      <h2 class="heading heading--xs trending__title">Trending</h2>
      <ShowsGrid :shows="trending" :filter="filter" :wrap=false></ShowsGrid>        
    </section>
    <!-- Display recommended shows -->
    <ShowsSection :shows="mediaDto" :filter="filter" title="Recommended for you"></ShowsSection>    
  </section>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { toShows } from '~~/mapper/to-show'

definePageMeta({ middleware: ['auth'] });

const { data: media } = await useFetch('/api/media')

const mediaDto = toShows(media?.value)
const trending = mediaDto.filter((m) => m.isTrending)
const filter = ref('')

const search = (text: string): void => {
  filter.value = text
}
</script>

<style scoped lang="scss">

</style>
