<template>
  <main class="sign-up">
    <div class="sign-up--icon">
      <img src="../assets/logo.svg" alt="Enterntainment app" />
    </div>
    <span v-if="errorMessage" class="form__msg">{{ errorMessage }}</span>
    <article class="sign-up--card">
      <h1 class="sign-up--title heading heading--l">Login</h1>
      <form>
        <div class="form__group">
          <input
            type="email"
            placeholder="Email address"
            v-model="user.email.value"
            class="form__input"
            required
            :class="getInputClass(user.email)"
            @keyup="user.email.validate()"
          />
          <span class="form__err-msg">{{ user.email.errMsg }}</span>
        </div>
        <div class="form__group">
          <input
            type="password"
            placeholder="Password"
            v-model="user.pwd.value"
            class="form__input"
            required
            :class="getInputClass(user.pwd)"
            @keyup="user.pwd.validate()"
          />
          <span class="form__err-msg">{{ user.pwd.errMsg }}</span>
        </div>
        <button type="submit" class="sign-up__button" @click.prevent="login">
          Login to your account
        </button>
      </form>
      <div class="sign-up--text">
        Don't have an account?
        <NuxtLink to="/sign-up" class="link"> Sign Up</NuxtLink>
      </div>
    </article>
  </main>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { Field, EmailField, useForm } from '@/composables/form';
import { useUsersStore } from '~~/stores/users'

definePageMeta({ layout: false });

const router = useRouter();
const { getInputClass } = useForm();
const store = useUsersStore()

class User {
  email: EmailField;
  pwd: Field;
  constructor() {
    this.email = new EmailField();
    this.pwd = new Field();
  }
  isValid() {
    return this.email.validate() && this.pwd.validate();
  }
}

const user = reactive(new User());
const errorMessage = ref('');

const login = () => {
  if (user.isValid()) {
    useFetch('/api/users/validate', {
      method: 'post',
      body: { username: user.email.value, password: user.pwd.value },
    }).then(res => {      
      if (res.error.value) {
        errorMessage.value = res.error.value.statusMessage || ''
      } else {
        errorMessage.value = ''
        store.logIn(user.email.value)
        router.push('/');
      }
    },
    error => {
      errorMessage.value = 'An unexpected error has ocurred. Please try again.'
      console.error('exception...' + error)
    })
  }
};
</script>

<style lang="scss" scoped></style>
