<template>
  <section class="movies">
    <search-component
      @update-filter="search"
      placeholder="Search for movies"
    ></search-component>
    <!-- Display all movies -->
    <ShowsSection
      :shows="movies"
      :filter="filter"
      title="Movies"
    ></ShowsSection>
  </section>
</template>

<script setup lang="ts">
import { toShows } from '~~/mapper/to-show';

definePageMeta({ middleware: ['auth'] });

const { data: media } = await useFetch('/api/movies');
const movies = toShows(media?.value);
const filter = ref('');

const search = (text: string): void => {
  filter.value = text;
};
</script>
