<template>
  <section class="series">
    <search-component
      @update-filter="search"
      placeholder="Search for TV series"
    ></search-component>
    <!-- Display all TV series -->
    <ShowsSection
      :shows="shows"
      :filter="filter"
      title="TV Series"
    ></ShowsSection>
  </section>
</template>

<script setup lang="ts">
import { toShows } from '~~/mapper/to-show';

definePageMeta({ middleware: ['auth'] });

const { data: media } = await useFetch('/api/tv-series');
const shows = toShows(media?.value);
const filter = ref('');

const search = (text: string): void => {
  filter.value = text;
};
</script>
